.externalNativeBuild
/.idea/appInsightsSettings.xml
/.idea/assetWizardSettings.xml
/.idea/caches/
/.idea/deviceManager.xml
/.idea/libraries/
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/.kotlin/
/build/
/captures/
/local.properties
*.iml
.cxx
.gradle
local.properties
